.documentation-overview__entity-icon {
  margin-right: var(--spacing-xs);
}

.documentation-overview-header__icon {
  height: var(--size-m);
  width: var(--size-m);
  @include hover {
    background-color: var(--highlight-background-color-primary);
  }
}

.documentation-overview-widgets {
  display: flex;
}
