#mtslack:root {
  /* Modify these to change your theme colors: */
  --mat-primary: #ffcb6b;
  --mat-primaryT: #ffcb6b70;
  --mat-accent: #009688;
  --mat-accentT: #00968870;
  --mat-accent2: #c792ea;
  --mat-accent2T: #c792ea70;
  --mat-bg: #263238;
  --mat-fg: #b0bec5;
  --mat-text: #607d8b;
  --mat-selectBg: #546e7a;
  --mat-selectFg: #ffffff;
  --mat-selectFg2: #ffffff;
  --mat-button: #2e3c43;
  --mat-secondBg: #32424a;
  --mat-disabled: #415967;
  --mat-contrast: #1e272c;
  --mat-overlay: #1e272c20;
  --mat-active: #314549;
  --mat-border: #2a373e;
  --mat-hl: #425b67;
  --mat-tree: #30454d;
  --mat-notif: #1e272c;
  --mat-excluded: #2e3c43;
  --mat-yellow: #ffcb6b;
  --mat-green: #c3e88d;
  --mat-cyan: #89ddff;
  --mat-blue: #82aaff;
  --mat-purple: #c792ea;
  --mat-red: #f07178;
  --mat-red2: #f07178;
  --mat-orange: #f78c6c;
  --mat-orange2: #f78c6c;
  --mat-gray: #546e7a;
  --mat-silver: #eeffff;
  --mat-black: #1e272c;
  --bg-primary: var(--mat-bg);
  --bg-primary--shade--one: var(--mat-bg);
  --bg-primary--shade--two: var(--mat-bg);
  --bg-primary--shade--three: var(--mat-bg);
  --bg-primary--shade--four: var(--mat-bg);
  --bg-secondary: var(--mat-secondBg);
  --bg-secondary--shade--one: var(--mat-secondBg);
  --bg-secondary--shade--two: var(--mat-secondBg);
  --bg-secondary--shade--three: var(--mat-secondBg);
  --bg-secondary--shade--four: var(--mat-secondBg);
  --bg-tertiary: var(--mat-contrast);
  --bg-tertiary--shade--one: var(--mat-contrast);
  --bg-tertiary--shade--two: var(--mat-contrast);
  --bg-tertiary--shade--three: var(--mat-contrast);
  --bg-tertiary--shade--four: var(--mat-contrast);
  --hairline-regular: #434343;
  --hairline-regular--shade--one: #4d4d4d;
  --hairline-regular--shade--two: #575757;
  --hairline-regular--shade--three: #696969;
  --hairline-regular--shade--four: #838383;
  --hairline-strong: #464646;
  --hairline-strong--shade--one: #505050;
  --hairline-strong--shade--two: #5a5a5a;
  --hairline-strong--shade--three: #6c6c6c;
  --hairline-strong--shade--four: #868686;
  --content-primary: var(--mat-fg);
  --content-primary--shade--one: var(--mat-fg);
  --content-primary--shade--two: var(--mat-fg);
  --content-primary--shade--three: var(--mat-fg);
  --content-primary--shade--four: var(--mat-fg);
  --content-secondary: var(--mat-text);
  --content-secondary--shade--one: var(--mat-text);
  --content-secondary--shade--two: var(--mat-text);
  --content-secondary--shade--three: var(--mat-text);
  --content-secondary--shade--four: var(--mat-text);
  --content-tertiary: var(--mat-disabled);
  --content-tertiary--shade--one: var(--mat-disabled);
  --content-tertiary--shade--two: var(--mat-disabled);
  --content-tertiary--shade--three: var(--mat-disabled);
  --content-tertiary--shade--four: var(--mat-disabled);
  --brand-primary: var(--mat-accent);
  --brand-primary--highlight: rgba(242, 107, 58, 0.2);
  --brand-primary--shade--one: var(--mat-accent);
  --brand-primary--shade--two: var(--mat-accent);
  --brand-primary--shade--three: var(--mat-accent);
  --brand-primary--shade--four: var(--mat-accent);
  --brand-secondary: var(--mat-accent2);
  --brand-secondary--highlight: rgba(9, 123, 237, 0.2);
  --brand-secondary--shade--one: var(--mat-accent2);
  --brand-secondary--shade--two: var(--mat-accent2);
  --brand-secondary--shade--three: var(--mat-accent2);
  --brand-secondary--shade--four: var(--mat-accent2);
  --accent-error: #ed4b48;
  --accent-error--highlight: rgba(237, 75, 72, 0.2);
  --accent-error--shade--one: #eb3935;
  --accent-error--shade--two: #e92623;
  --accent-error--shade--three: #d41815;
  --accent-error--shade--four: #a51310;
  --accent-warning: var(--mat-primary);
  --accent-warning--highlight: rgba(255, 180, 0, 0.2);
  --accent-warning--shade--one: var(--mat-primary);
  --accent-warning--shade--two: var(--mat-primary);
  --accent-warning--shade--three: var(--mat-primary);
  --accent-warning--shade--four: var(--mat-primary);
  --accent-success: #26b47f;
  --accent-success--highlight: rgba(38, 180, 127, 0.2);
  --accent-success--shade--one: #2ac58b;
  --accent-success--shade--two: #30d396;
  --accent-success--shade--three: #4dd9a5;
  --accent-success--shade--four: #77e2ba;
  --color-darkest: #ffffff;
  --color-darkest--shade--one: #f5f5f5;
  --color-darkest--shade--two: #ebebeb;
  --color-darkest--shade--three: #d9d9d9;
  --color-darkest--shade--four: #bfbfbf;
  --dark-bg-primary: var(--mat-bg);
  --dark-bg-primary--shade--one: var(--mat-bg);
  --dark-bg-primary--shade--two: var(--mat-bg);
  --dark-bg-primary--shade--three: var(--mat-bg);
  --dark-bg-primary--shade--four: var(--mat-bg);
  --dark-bg-secondary: var(--mat-bg2);
  --dark-bg-secondary--shade--one: var(--mat-bg2);
  --dark-bg-secondary--shade--two: var(--mat-bg2);
  --dark-bg-secondary--shade--three: var(--mat-bg2);
  --dark-bg-secondary--shade--four: var(--mat-bg2);
  --dark-bg-tertiary: var(--mat-contrast);
  --dark-bg-tertiary--shade--one: var(--mat-contrast);
  --dark-bg-tertiary--shade--two: var(--mat-contrast);
  --dark-bg-tertiary--shade--three: var(--mat-contrast);
  --dark-bg-tertiary--shade--four: var(--mat-contrast);
  --dark-hairline-regular: #3c3c3c;
  --dark-hairline-regular--shade--one: #464646;
  --dark-hairline-regular--shade--two: #505050;
  --dark-hairline-regular--shade--three: #626262;
  --dark-hairline-regular--shade--four: #7c7c7c;
  --dark-hairline-strong: #5a5a5a;
  --dark-hairline-strong--shade--one: #646464;
  --dark-hairline-strong--shade--two: #6e6e6e;
  --dark-hairline-strong--shade--three: #808080;
  --dark-hairline-strong--shade--four: #9a9a9a;
  --dark-content-primary: var(--mat-fg);
  --dark-content-primary--shade--one: var(--mat-fg);
  --dark-content-primary--shade--two: var(--mat-fg);
  --dark-content-primary--shade--three: var(--mat-fg);
  --dark-content-primary--shade--four: var(--mat-fg);
  --dark-content-secondary: var(--mat-text);
  --dark-content-secondary--shade--one: var(--mat-text);
  --dark-content-secondary--shade--two: var(--mat-text);
  --dark-content-secondary--shade--three: var(--mat-text);
  --dark-content-secondary--shade--four: var(--mat-text);
  --dark-color-lightest: var(--mat-selectFg);
  --dark-color-lightest--shade--one: var(--mat-selectFg);
  --dark-color-lightest--shade--two: var(--mat-selectFg);
  --dark-color-lightest--shade--three: var(--mat-selectFg);
  --dark-color-lightest--shade--four: var(--mat-selectFg);
  --color-content-primary: var(--mat-fg);
  --color-content-secondary: var(--mat-text);
  --color-content-tertiary: var(--mat-disabled);
  --color-content-brand-primary: var(--mat-accent);
  --color-content-brand-secondary: var(--mat-accent2);
  --color-content-accent-error: var(--mat-red);
  --color-content-accent-success: var(--mat-green);
  --color-content-accent-warning: var(--mat-primary);
  --color-background-primary: var(--mat-bg);
  --color-background-secondary: var(--mat-secondBg);
  --color-background-tertiary: var(--mat-contrast);
  --color-border-regular: var(--mat-border);
  --color-border-strong: var(--mat-hl);
  --color-highlight-background-primary: var(--mat-hl);
  --color-highlight-background-secondary: var(--mat-excluded);
  --color-highlight-background-tertiary: var(--mat-selectBg);
  --text-family-default: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
  --text-family-code: 'IBMPlexMono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --base-color-brand: var(--mat-accent);
  --base-color-info: var(--mat-accent);
  --base-color-warning: var(--mat-primary);
  --base-color-error: var(--mat-red);
  --base-color-success: var(--mat-green);
  --content-color-primary: var(--mat-fg);
  --content-color-secondary: var(--mat-text);
  --content-color-tertiary: var(--mat-disabled);
  --content-color-brand: var(--mat-accent);
  --content-color-info: var(--mat-accent);
  --content-color-error: var(--mat-red);
  --content-color-warning: var(--mat-primary);
  --content-color-success: var(--mat-green);
  --content-color-constant: var(--mat-selectFg);
  --content-color-link: var(--mat-accent2);
  --illustration-stroke-color: var(--mat-hl);
  --background-color-primary: var(--mat-bg);
  --background-color-secondary: var(--mat-bg2);
  --background-color-tertiary: var(--mat-contrast);
  --background-color-brand: #553326;
  --background-color-info: #002d70;
  --background-color-error: #591b08;
  --background-color-warning: #523a03;
  --background-color-success: #013614;
  --background-modal-backdrop: rgba(26, 26, 26, 0.6);
  --border-color-subdued: var(--mat-border);
  --border-color-default: var(--mat-hl);
  --border-color-strong: var(--mat-hl);
  --border-color-active: rgba(26, 26, 26, 0.3);
  --header-background-color-primary: var(--mat-bg);
  --header-background-color-secondary: var(--mat-bg2);
  --header-color-content: var(--mat-fg);
  --header-background-highlight-color-primary: #303030;
  --header-background-highlight-color-secondary: var(--mat-notif);
  --highlight-background-color-primary: #2b2b2b;
  --highlight-background-color-secondary: #2b2b2b;
  --highlight-background-color-tertiary: #303030;
  --highlight-background-color-selected: #112749;
  --highlight-background-color-brand: var(--mat-accent);
  --highlight-background-color-info: var(--mat-accent);
  --highlight-background-color-warning: var(--mat-primary);
  --highlight-background-color-error: var(--mat-red);
  --highlight-background-color-success: var(--mat-green);
  --highlight-background-color-transparent: rgba(255, 255, 255, 0.1);
  --shadow-focus: 0 0 0 1px #212121, 0 0 0 3px var(--mat-primary);
  --aether-icon-default-color: var(--mat-text);
  --button-focus-border-color: 0 0 0 1px #212121, 0 0 0 3px var(--mat-primary);
  --button-primary-background-color: var(--mat-active);
  --button-primary-hover-background-color: var(--mat-hover);
  --button-primary-active-background-color: var(--mat-accent);
  --button-primary-disabled-background-color: #553326;
  --button-primary-content-color: var(--mat-selectFg);
  --button-primary-disabled-content-color: var(--mat-disabled);
  --button-secondary-background-color: var(--mat-button);
  --button-secondary-hover-background-color: var(--mat-secondBg);
  --button-secondary-active-background-color: var(--mat-hl);
  --button-secondary-disabled-background-color: var(--mat-bg);
  --button-secondary-content-color: var(--mat-fg);
  --button-secondary-disabled-content-color: var(--mat-disabled);
  --button-tertiary-hover-background-color: var(--mat-button);
  --button-tertiary-active-background-color: var(--mat-secondBg);
  --button-tertiary-content-color: var(--mat-text);
  --button-tertiary-hover-content-color: var(--mat-selectFg);
  --button-tertiary-active-content-color: var(--mat-selectFg);
  --button-tertiary-disabled-content-color: var(--mat-disabled);
  --button-outline-border-color: rgba(255, 255, 255, 0.24);
  --button-outline-hover-border-color: rgba(255, 255, 255, 0.48);
  --button-outline-active-border-color: rgba(255, 255, 255, 0.64);
  --button-outline-disabled-border-color: rgba(255, 255, 255, 0.16);
  --button-outline-content-color: #ffffff;
  --button-outline-disabled-content-color: #6b6b6b;
  --button-outline-disabled-background-color: transparent;
  --button-destructive-background-color: #8e1a10;
  --button-destructive-hover-background-color: #b02016;
  --button-destructive-active-background-color: #eb2013;
  --button-destructive-disabled-background-color: #591b08;
  --button-destructive-content-color: #ffffff;
  --button-destructive-disabled-content-color: #6b6b6b;
  --button-destructive-outline-color: transparent;
  --button-destructive-disabled-outline-color: transparent;
  --button-plain-content-color: var(--mat-accent);
  --button-plain-disabled-content-color: var(--mat-accentT);
  --button-monochrome-plain-content-color: inherit;
  --button-monochrome-plain-hover-content-color: var(--mat-accent);
  --button-monochrome-plain-disabled-content-color: var(--mat-accentT);
  --button-muted-plain-content-color: #a6a6a6;
  --button-muted-plain-disabled-content-color: #6b6b6b;
  --splitbutton-primary-splitter-color: #d23f0e;
  --splitbutton-secondary-splitter-color: #6b6b6b;
  --splitbutton-tertiary-splitter-color: #6b6b6b;
  --counterbutton-tertiary-splitter-color: #6b6b6b;
  --checkbox-checked-background-color: var(--mat-accent);
  --checkbox-checked-disabled-background-color: #00439d;
  --checkbox-border-color: #6b6b6b;
  --checkbox-disabled-border-color: #3b3b3b;
  --checkbox-checked-border-color: transparent;
  --checkbox-checked-disabled-border-color: transparent;
  --checkbox-marker-color: #ffffff;
  --checkbox-disabled-marker-color: #6b6b6b;
  --checkbox-outline-color: #adcdfb;
  --switch-track-checked-background-color: var(--mat-accent);
  --switch-track-unchecked-background-color: #3b3b3b;
  --switch-track-checked-disabled-background-color: #00439d;
  --switch-track-unchecked-disabled-background-color: #3b3b3b;
  --switch-thumb-background-color: #ffffff;
  --switch-thumb-disabled-background-color: #6b6b6b;
  --radio-checked-background-color: var(--mat-accent);
  --radio-checked-disabled-background-color: #00439d;
  --radio-border-color: #6b6b6b;
  --radio-checked-border-color: transparent;
  --radio-disabled-border-color: #3b3b3b;
  --radio-checked-disabled-border-color: transparent;
  --radio-checked-marker-color: #ffffff;
  --radio-checked-disabled-marker-color: #6b6b6b;
  --stepper-progress-line-background-color: #a6a6a6;
  --avatar-type-count-background-color: #303030;
  --avatar-type-count-hovered-background-color: #3b3b3b;
  --badge-success-background-color: #013614;
  --badge-success-content-color: #6bdd9a;
  --badge-info-background-color: #002d70;
  --badge-info-content-color: #74aef6;
  --badge-warning-background-color: #523a03;
  --badge-warning-content-color: #ffe47e;
  --badge-critical-background-color: #591b08;
  --badge-critical-content-color: #f79a8e;
  --badge-neutral-background-color: #2b2b2b;
  --badge-neutral-content-color: #a6a6a6;
  --badge-status-count-background-color: #ff6c37;
  --badge-status-count-content-color: #2b2b2b;
  --badge-status-new-background-color: #4c207d;
  --badge-status-new-content-color: #c0a8e1;
  --badge-border-radius: 9999px;
  --banner-close-button-hover-color: rgba(255, 255, 255, 0.08);
  --input-border-color-default: #6b6b6b;
  --input-border-color-success: #38cc74;
  --input-border-color-warning: #ffcf3f;
  --input-border-color-error: #f37264;
  --input-border-color-focus: var(--mat-accent);
  --input-color-default: #f2f2f2;
  --input-background-color-disabled: #2b2b2b;
  --input-shadow-focus: var(--mat-accent);
  --toast-container-width: 320px;
  --toast-container-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  --tab-content-indicator-width: 6px;
  --tab-content-indicator-height: 6px;
  --tab-selected-border: inset 0px -1px 0px #ff6c37;
  --tab-secondary-selected-border-color: #2b2b2b;
  --tab-secondary-border-color: transparent;
  --table-scrollbar-thumb-background-color: #3b3b3b;
  --table-scrollbar-track-background-color: #2b2b2b;
  --table-row-selected-background-color: #112749;
  --modal-box-shadow: 0 16px 24px -8px rgba(0, 0, 0, 0.32);
  --modal-border-color: transparent;
  --tooltip-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.32);
  --tooltip-border-color: rgba(255, 255, 255, 0.08);
  --tooltip-background-color: var(--mat-notif);
  --breadcrumb-shadow-focus: var(--mat-accent);
  --popover-background-color: var(--mat-notif);
  --popover-box-shadow: 0 0 1px rgba(255, 255, 255, 0.72), 0 16px 24px -8px rgba(0, 0, 0, 0.32);
  --popover-pointer-filter: drop-shadow(0px -1px 0px rgba(255, 255, 255, 0.23));
  --popover-outline-color: transparent;
  --progressbar-background-color: #6b6b6b;
  --progressbar-highlight-background-color: #3b3b3b;
  --tag-blue-content-color: var(--mat-accent);
  --tag-purple-content-color: #c0a8e1;
  --tag-yellow-content-color: #de9c00;
  --tag-green-content-color: #0cbb52;
  --tag-pink-content-color: #f15eb0;
  --tag-teal-content-color: #0ca4b6;
  --tag-orange-content-color: #ff8e64;
  --tag-default-content-color: #a6a6a6;
  --tag-blue-border-color: var(--mat-accentT);
  --tag-purple-border-color: #784fa9;
  --tag-yellow-border-color: #886000;
  --tag-green-border-color: #006024;
  --tag-pink-border-color: #a61468;
  --tag-teal-border-color: #015965;
  --tag-orange-border-color: var(--mat-red);
  --tag-default-border-color: #6b6b6b;
  --menuitem-destructive-hover-background-color: #8e1a10;
  --global-navigation-background-color: var(--mat-contrast);
  --button-main-background-color: var(--mat-accent);
  --button-main-hover-background-color: var(--mat-accentT);
  --button-main-active-background-color: var(--mat-accentT);
  --button-main-disabled-background-color: var(--mat-accent);
  --button-main-content-color: #ffffff;
  --button-main-disabled-content-color: var(--mat-fg);
  --button-main-outline-color: transparent;
  --button-main-disabled-outline-color: transparent;
  --button-group-separator: 1px solid rgba(0, 0, 0, 0.24);
  --scrollbar-thumb-background-color: var(--mat-secondBg);
  --scrollbar-track-background-color: var(--mat-bg);
  --runner-summary-vertical-bar-hover-background-color: #ffffff;
  --selected-checkbox-background-color: #ffffff;
  --radio-button-background-color: #686868;
  --sidebar-button-tertiary-hover-background-color: rgba(255, 255, 255, 0.12);
  --sidebar-button-tertiary-active-background-color: rgba(255, 255, 255, 0.16);
  --flow-input-border-color: #6b6b6b;
  --flow-input-focus-color: var(--mat-primary);
  --flow-block-shadow-inactive: 0px 1px 3px rgba(0, 0, 0, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.65);
  --flow-block-shadow-hover: 0px 3px 6px rgba(0, 0, 0, 0.8), 0px 3px 6px rgba(0, 0, 0, 0.65);
  --flow-node-background: rgba(33, 33, 33, 0.85);
  --flow-canvas-background: var(--mat-contrast);
  --background-color-primary-rgb: 33, 33, 33;
  --background-color-secondary-rgb: 38, 38, 38;
  --environment-input-focus-color: var(--mat-primary);
  --environment-divider-border-color: #6b6b6b;
  --response-meta-time-graph-system-bar-background-color: #3b3b3b;
  --aether-popover-shadow: 0 0 1px rgba(255, 255, 255, 0.72), var(--shadow-strong, 0 16px 24px -8px rgba(0, 0, 0, 0.32));
  --color-whitespace-char: rgba(255, 255, 255, 0.24);
  --request-url-highlight-border-color: var(--mat-primary);
  --cnx-card-border-color: var(--mat-primary);
  --content-color-patch-method: #c0a8e1;
  --content-color-options-method: #f15eb0;
  --http-icon-color: #3fd6e6;
  --graphql-icon-color: #f15eb0;
  --mqtt-icon-color: #926cc2;
  --windows-controls-close-background-color: #eb2013;
  --sidebar-item-shadow-focus: 0px 0px 0px 2px #74aef6 inset;
  --activation-onboarding-popover-background-color: #adcdfb;
  --activation-onboarding-color: var(--mat-notif);
  --template-with-ai-background-color: #250447;
  --template-with-ai-color: #e4d8f6;
  --quick-start-action-box-shadow: 0px 2px 8px 0px rgba(71, 71, 71, 0.2);
  --quick-start-action-hover-box-shadow: 0px 3px 6px 0px rgba(69, 69, 69, 0.5);
  --universe-banner-background-color: var(--mat-bg);
  --universe-banner-explore-button-background-color: var(--mat-bg);
  --universe-banner-explore-button-font-color: var(--mat-fg);
  --universe-banner-explore-button-border-color: var(--mat-fg);
  --universe-banner-explore-button-hover-background-color: var(--mat-notif);
  --universe-banner-explore-button-hover-font-color: #ffffff;
  --universe-banner-explore-button-hover-border-color: #ffffff;
  --monitoring-progress-bar-fill: var(--mat-accentT);
  --learning-center-highlight-background-color: #523a03;
  --workbench-drawer-overlay-shadow: 0px 0px 1px rgba(255, 255, 255, 0.72), 0px 16px 24px -8px rgba(0, 0, 0, 0.2);
  --secret-scanner-header-box-shadow: 0px 2px 3px -2px rgba(255, 255, 255, 0.2);
  --secret-scanner-button-background-color: var(--mat-green);
  --secret-scanner-button-hover-background-color: #006024;
  --secret-scanner-deleted-tag-border-color: var(--mat-red);
  --diff-addition-primary: #a4eec4;
  --diff-subtraction-primary: #fbc3ba;
  --diff-source-primary: #e4d8f6;
  --diff-destination-primary: #d0f9fd;
  --diff-addition-secondary: #6bdd9a;
  --diff-subtraction-secondary: #f79a8e;
  --diff-source-secondary: #c0a8e1;
  --diff-destination-secondary: #8eeef7;
  --diff-source-button: #926cc2;
  --diff-destination-button: #3fd6e6;
  --diff-source-background: #250447;
  --diff-destination-background: #032f36;
  --postbot-content: #c0a8e1;
  --postbot-background: #250447;
  --postbot-button-primary: #623497;
  --postbot-button-primary-label: #c0a8e1;
  --pane-chevron-color: #6b6b6b;
  --requester-tab-icon-opacity: 0.6;
  --name: dark;
  --colorScheme: night-owl;
  --button-main-background-color: var(--mat-accent);
  --button-main-hover-background-color: var(--mat-accentT);
  --button-main-active-background-color: var(--mat-accentT);
  --button-main-disabled-background-color: var(--mat-accent);
  --button-main-content-color: #ffffff;
  --button-main-disabled-content-color: var(--mat-fg);
  --button-main-outline-color: transparent;
  --button-main-disabled-outline-color: transparent;
  --button-group-separator: 1px solid rgba(0, 0, 0, 0.24);
  --scrollbar-thumb-background-color: #3b3b3b;
  --scrollbar-track-background-color: #2b2b2b;
  --runner-summary-vertical-bar-hover-background-color: #ffffff;
  --selected-checkbox-background-color: #ffffff;
  --radio-button-background-color: #686868;
  --progressbar-background-color: #6b6b6b;
  --progressbar-highlight-background-color: #3b3b3b;
  --modal-sidebar-border-color: transparent;
  --sidebar-button-tertiary-hover-background-color: rgba(255, 255, 255, 0.12);
  --sidebar-button-tertiary-active-background-color: rgba(255, 255, 255, 0.16);
  --flow-input-border-color: #6b6b6b;
  --flow-input-focus-color: var(--mat-accent);
  --flow-block-shadow-inactive: 0px 1px 3px rgba(0, 0, 0, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.65);
  --flow-block-shadow-hover: 0px 3px 6px rgba(0, 0, 0, 0.8), 0px 3px 6px rgba(0, 0, 0, 0.65);
  --flow-node-background: rgba(33, 33, 33, 0.85);
  --flow-canvas-background: var(--mat-contrast);
  --background-color-primary-rgb: 33, 33, 33;
  --background-color-secondary-rgb: 38, 38, 38;
  --environment-input-focus-color: var(--mat-accent);
  --environment-divider-border-color: #6b6b6b;
  --response-meta-time-graph-system-bar-background-color: #3b3b3b;
  --request-url-highlight-border-color: var(--mat-accent);
  --aether-popover-shadow: 0 0 1px rgba(255, 255, 255, 0.72), var(--shadow-strong, 0 16px 24px -8px rgba(0, 0, 0, 0.32));
  --color-whitespace-char: rgba(255, 255, 255, 0.24);
  --cnx-card-border-color: var(--mat-accent);
  --content-color-patch-method: #c0a8e1;
  --content-color-options-method: #f15eb0;
  --http-icon-color: #3fd6e6;
  --graphql-icon-color: #f15eb0;
  --mqtt-icon-color: #926cc2;
  --windows-controls-close-background-color: #eb2013;
  --sidebar-item-shadow-focus: 0px 0px 0px 2px #74aef6 inset;
  --activation-onboarding-popover-background-color: #adcdfb;
  --activation-onboarding-color: var(--mat-notif);
  --template-with-ai-background-color: #250447;
  --template-with-ai-color: #e4d8f6;
  --quick-start-action-box-shadow: 0px 2px 8px 0px rgba(71, 71, 71, 0.2);
  --quick-start-action-hover-box-shadow: 0px 3px 6px 0px rgba(69, 69, 69, 0.5);
  --universe-banner-background-color: var(--mat-bg);
  --universe-banner-explore-button-background-color: var(--mat-bg);
  --universe-banner-explore-button-font-color: var(--mat-fg);
  --universe-banner-explore-button-border-color: var(--mat-fg);
  --universe-banner-explore-button-hover-background-color: var(--mat-notif);
  --universe-banner-explore-button-hover-font-color: #ffffff;
  --universe-banner-explore-button-hover-border-color: #ffffff;
  --monitoring-progress-bar-fill: var(--mat-accentT);
  --learning-center-highlight-background-color: #523a03;
  --workbench-drawer-overlay-shadow: 0px 0px 1px rgba(255, 255, 255, 0.72), 0px 16px 24px -8px rgba(0, 0, 0, 0.2);
  --secret-scanner-header-box-shadow: 0px 2px 3px -2px rgba(255, 255, 255, 0.2);
  --secret-scanner-button-background-color: var(--mat-green);
  --secret-scanner-button-hover-background-color: #006024;
  --secret-scanner-deleted-tag-border-color: var(--mat-red);
  --diff-addition-primary: #a4eec4;
  --diff-subtraction-primary: #fbc3ba;
  --diff-source-primary: #e4d8f6;
  --diff-destination-primary: #d0f9fd;
  --diff-addition-secondary: #6bdd9a;
  --diff-subtraction-secondary: #f79a8e;
  --diff-source-secondary: #c0a8e1;
  --diff-destination-secondary: #8eeef7;
  --diff-source-button: #926cc2;
  --diff-destination-button: #3fd6e6;
  --diff-source-background: #250447;
  --diff-destination-background: #032f36;
  --postbot-content: #c0a8e1;
  --postbot-background: #250447;
  --postbot-button-primary: #623497;
  --postbot-button-primary-label: #c0a8e1;
  --pane-chevron-color: #6b6b6b;
}
