.api-comments {
  margin-left: -16px;
  height: 100%;

  .comments {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .comments-list {
    max-height: initial;

    .comments-item {
      padding-top: 16px;
    }
  }
}
