.api-monitoring-uptime-monitor-short-field {
  display: flex;
  flex: 0 0 7% !important;
  padding-right: var(--spacing-s);
}

.api-monitoring-uptime-monitor-timeline {
  display: flex;
  flex: 0 0 36% !important;
  padding-right: var(--spacing-s);
}
